<h1>
  <strong><%= @project.name %></strong>
</h1>

<table class="table">
  <tr>
    <th scope="col"><%= link_to 'Task', :sort => 'task' %></th>
    <th scope="col">Status</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>

  <% @project.tasks.each do |task| %>
    <tr>
      <td scope="row"><%= task.name %></td>
      <td scope="row"><%= task.status %></td>
      <th scope="row"><%= link_to 'Edit', edit_project_task_path(@project, task.id) %></th>
      <th scope="row"><%= link_to 'Delete', project_task_path(@project, task.id), method: :delete, data: { confirm: 'Are you sure?' } %></th>
    </tr>
  <% end %>
</table>

<%= form_for [ @project, @project.tasks.build ] do |form| %>
  <p>
    <%= form.label 'Add task' %><br>
    <%= form.text_field :name %>
    <%= form.check_box  :status %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_project_path %><br>
<%= link_to 'Delete', project_path, method: :delete, data: { confirm: 'Are you sure?' }
%><br>
<%= link_to 'Back', projects_path %>
